---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/Carousel.astro";
import Contact from "../../components/Contact.astro";

const images = [

  { src: "middleton-shower-medium-veranda-custom-homes.jpg", alt: "Middleton Shower Renovation", full: "middleton-shower-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "middleton-bath-medium-veranda-custom-homes.jpg", alt: "Middleton Bath Renovation", full: "middleton-bath-veranda-custom-homes.jpg", width: 192, height: 171 },
  { src: "middleton-bathroom-1-medium-veranda-custom-homes.jpg", alt: "Middleton Bathroom Renovation", full: "middleton-bathroom-1-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "middleton-bathroom-2-medium-veranda-custom-homes.jpg", alt: "Middleton Bathroom Renovation", full: "middleton-bathroom-2-veranda-custom-homes.jpg", width: 171, height: 256 },
  { src: "middleton-bathroom-3-medium-veranda-custom-homes.jpg", alt: "Middleton Bathroom Renovation", full: "middleton-bathroom-3-veranda-custom-homes.jpg", width: 171, height: 256 },
  { src: "dalton-bathroom-medium-veranda-custom-homes.jpg", alt: "Dalton Bathroom Renovation", full: "dalton-bathroom-veranda-custom-homes.jpg", width: 172, height: 256 },
  { src: "bathroom-renovations-vancouver-1-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-renovations-vancouver-1-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-renovations-vancouver-2-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-renovations-vancouver-2-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-renovations-vancouver-3-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-renovations-vancouver-3-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-renovations-vancouver-4-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-renovations-vancouver-4-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-renovations-vancouver-5-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-renovations-vancouver-5-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-renovations-vancouver-6-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-renovations-vancouver-6-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-reno-1-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-reno-1-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-reno-2-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-reno-2-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "bathroom-reno-3-medium-veranda-custom-homes.jpg", alt: "Bathroom Renovation", full: "bathroom-reno-3-veranda-custom-homes.jpg", width: 256, height: 171 },
  { src: "knowles-residence-bathroom-medium-veranda-custom-homes.jpg", alt: "Knowles Residence Bathroom Renovation", full: "knowles-residence-bathroom-veranda-custom-homes.jpg", width: 114, height: 171 },
  { src: "knowles-residence-bath-medium-veranda-custom-homes.jpg", alt: "Knowles Residence Bathroom Renovation", full: "knowles-residence-bath-veranda-custom-homes.jpg", width: 114, height: 171 },
];

const path = "/images/bathrooms/";

const title = "Veranda Custom Homes - Bathrooms";
const description = "Veranda Custom Homes knows bathrooms are a greaty place to start to bring things up to current syles and technologies";
---
<Layout title={title}, description={description} >
    <main id="main-content" style="position:relative;">
      <section class="container">
        <h1 class="heading-3 padding-block-start-6">{title}</h1>
        <p class="margin-block-end-6">
          This is a great place to start to bring things up to current style as well as latest technologies. 
          We’ve worked with many systems and styles in this ever changing market and requirements.
        </p>
        <p class="margin-block-end-6">
          View our portfolio of bathroom new builds and renovations below.
        </p>    
      </section>
      <Carousel>
        {images.map(image => (
          <div class="carousel-item">
            <img src={path + image.src} alt={image.alt} data-full={path + image.full} class="carousel-img" loading="lazy" width={image.width} height={image.height} />
          </div>
        ))}
      </Carousel>
      <Contact />
    </main>
</Layout>

<style>
  .carousel-item {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .carousel-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: zoom-in;
  }
</style>
