---
export interface Props {
	id: string;
	label: string;
    error: string;
}

const { id, label, error } = Astro.props as Props;
---
<div class="input-group">
    <input id={id} name={id} type="text" required>
    <label for={id} class="label">{label}</label>
    <span class="error">{error}</span>
</div>
